*{
   box-sizing: border-box;
    margin: 0px;
    background-color: #f0f5df;
}

h1 {
    cursor: default;
}

h2{
    cursor: default;
}

h3 {
    cursor: default;
}

p {
    cursor: default;
}
.closeModal{
    cursor: pointer;
}


.vegImg{
    height: 20em;
}
.mainSection{
   display: flex; 
   flex-direction: column;
   align-items: center;
   object-fit: contain;
}
.mainVegSection{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 80em;
    flex-wrap: wrap;
 }

/* *********************** */
/* NAV BAR */

.navList{
    display: flex;
    list-style-type: none;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    /* background-color: #F2780C; */
    background-color: #ffd20a;
}
.navList li{
    cursor: pointer;
    /* color: white; */
    color: #4A5817;
    display: flex;
    justify-content: center;
    font-size: x-large;
    /* background-color: #F2780C; */
        background-color: #ffd20a;
}
.mainLogo{
    height: 11em;
    margin-bottom: 1.5em;

}
.logoDiv{
    display: flex;
    justify-content: center;
}

.mainTitle{
    text-align: center;
}
.subtitle{
    text-align: center;
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Selected Plants View CSS below */
.plantPhoto{
    height: 10em;
        max-width: 240px;
        object-fit: fill;
        border-radius: 5px;
}

.bannerImage{
    height: 10em;
    margin-top: 0px;
    
}

.bottomImg{
    height: 10em;
    margin-bottom: 0px;  
}
.footer{
    display: flex;
    justify-content: center; 
    margin-bottom: 0px;
}

.banner{
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.footer{
    display: flex;
    justify-content: center;
    object-fit: contain;
}
/* ***************** */
/* CHECK BOX */

.checkList{
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: 63em;
width: 57em;
margin-left: 2em;
justify-content: space-around;
padding-top: 1.5em;
background-color: white;
border-radius: 25px;
filter: drop-shadow(0 0 0.30rem #4A5817 );

}

.checkbox_input{
display: flex;
padding-bottom: 5px;
background-color: white;
align-items: baseline;
margin-left: .75em;
}

.checkPlantName {
    transform: scale(1.8);
    cursor: pointer;
}

.plantNameCheck{
    cursor: pointer;
}

.checkPlantName{
/* display: inline-block; */
accent-color: #E58C60;
/* visibility: visible; */
margin-right: .25em;
}
.checkPlantName:checked{
/* display: inline-block; */
background-color: #8AA81E;
/* visibility: visible; */
}


.textHome{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeText{
    padding-top: 1em;
    background-color: #4f6111;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    text-align: center;
    /* font-size: 30px; */
}
.goodbye{
  display: flex;
justify-content: center;
font-style: italic;
margin-top: 1em;
margin-bottom: 1em;
}

.checkBox{
    display: flex;
    align-items: center;
    width: fit-content;

}
.submitButton{
    width: 20em;
    cursor: pointer;
    border: none;
    border-radius: 25px;

}
.submitButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.submitButton:hover {
    transform: scale(1.1);
  }

/* ********************** */
/* Resources Section  */
/* ********************** */

.resourcesSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resourceTitle{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-bottom: .5em;
    margin-top: 3em;
    border-bottom: #E58C60 solid;
    margin-bottom: 2em;
}


.resourceTitle h1{
/* color: #ffd20a; */
/* color: white; */
background-color: inherit;
font-size: 32px;
/* font-weight: 200; */
}

.resourceElTitle {
  display: flex;
    justify-content: center;
    background-color: inherit;
    border-radius: 25px;
    margin-top: .5em;
}

.resourceElTitle h2{
    background-color: inherit;
    color:#465902;
}

.resourceContent{
    /* display: flex;
    flex-direction: column; */
            border-radius: 25px;
            border: #4f6111 solid;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        /* background-color: #4f6111; */
}

/* .seedDiv{

} */
.seedStart{
    display: flex;
}
.canning{
    display: flex;
}
.soilDiv{
    display: flex;
}

.resourceSectionDivCHANGEMYNAME {
    display: flex;
    flex-direction: column;
    /* border-radius: 25px; */
    /* border: #465908 solid; */
    align-items: center;
    /* background-color: #465908; */
}

.resourceImage {
    object-fit: contain;
    /* margin-right: 10px; */
    margin: 20px;
    /* border-radius: 20px; */
   
}
.resourceContent:hover{
    transform: scale(1.1);
                cursor: pointer;

}

.resourceBlockSection{
    display: flex;
                /* border-radius: 25px; */
            margin-left: 10px;
        margin-bottom: 10px;
        /* background-color: #4f6111; */
        /* background-color: #ffffff; */
        padding-right: 10px;
       
}
.resourceBlockSection *{
    background-color: #ffffff;  
}

.homeSection{
    display: flex;
    margin-top: 3em;
    padding: 0em 4em 0em 4em;




    /* ******************* */
}
.zipcodeSection{
    display: flex;
    width: 30em;
    flex-direction: column;
    background-color: #4f6111;
    align-items: center;
    border-radius: 25px;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 3em;
  
}
.zipDiv{
    background-color: #4f6111; 
}
.homeBottomTextDiv{
    background-color: #4f6111; 
    color: #ffffff;
    display: flex;
    align-items: center;
}
.homeBtmTxt{
    background-color: #4f6111; 
    color: #ffffff;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
.container {
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}

.stationDisplay{
    text-transform: capitalize;
}
.welcome{
    text-align: center;
}
/* @media screen and (max-width: 600px) {
    .mainSection{
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
    }
} */

label{
    /* border: none;
    background: none; */
    order: 2;

}
input {
    order: 1;
}

/* ****************************** */
/*  allRecipeView BELOW                       */
/* ****************************** */
.allRecipes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20em;
    margin-right: 20em;

}


.allRecDiv {
    display: flex;
    flex: 20%;
    padding: 20px;
    border:  #4f6111 solid;
    border-width: 3px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
        border-radius: 25px;
        margin-left: 2em;
        margin-bottom: 3em; 
        background-color: #ffffff;
   

    
}
.allRecDiv>*{
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    .allRecDiv{
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .allRecipes {
        flex-direction: column;
    }
}

.plantPhoto img {
    object-fit: contain;

}

.allRecDiv:hover {
    transform: scale(1.1);
                cursor: pointer;
}

.plantPhotoSingle img {
    object-fit: contain;
}

.plantPhotoSingle{
    height: 10em;
        /* max-width: 250px; */
        object-fit: fill;
        border-radius: 5px;
}
/* ****************************** */
/*  singlePlantRecipeView BELOW           */
/* ****************************** */

.singleRecipes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20em;
    margin-right: 20em;
    
}

.singleRecipeDiv {
    display: flex;
    flex: 20%;
    padding: 20px;
    border: #4f6111 solid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
            border-radius: 25px;
        /* margin-left: 10px; */
        /* margin-bottom: 10px; */
        background-color: #ffffff;
        margin-left: 2em;
        margin-bottom: 3em; 
        text-align: center;
        border-width: 3px;

}
.singleRecipeDiv *{
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    .singleRecipeDiv{
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .singleRecipes {
        flex-direction: column;
    }
}

.recipeImage img {
    object-fit: contain;
}

.singleRecipeDiv:hover {
    transform: scale(1.2);
}

.frostDate{
    display: flex;
    justify-content: center;
}
.backBtn{
    height: 2.5em;
    padding-top: .5em;
    padding-left: 3em;
}
.backToHomeBtn{
    height: 2.5em;
    padding-top: .5em;
    padding-left: 2em;
}
.backButton{
    display: flex;
justify-content: space-between;
}

.singlePlant{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    margin: 2em 8em 2em 8em;
    border-style: solid;
    border-width: 3px;
    border-color: #4f6111;
    border-radius: 25px;
    padding: 1em 1em 1em 1em;
}
.singlePlant *{
    background-color: white;
}
/* @media screen and (max-width: 600px){
    .singlePlant {
        flex-direction: column;
    } */

.careTips{
    width: 25em;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-left: 10px;

}
.topPlantDiv{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}
.bottomPlantDiv{
    display: flex;
    justify-content: center;
    padding-top: 1em;
    justify-content: space-evenly;
}

.companionDiv{
    width: 10em;
    display: flex;
    align-items: center;
}
.companion{
    display: flex;
    align-content: center; 
}
.weatherDiv{
    display: flex;
    justify-content: center;
}
