*{
   box-sizing: border-box;
margin: 0px;
background-color: #f0f5df;
}


.vegImg{
    height: 20em;
}
.mainSection{
   display: flex; 
   flex-direction: column;
   align-items: center;
}
.mainVegSection{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 80em;
    flex-wrap: wrap;
 }

/* *********************** */
/* NAV BAR */

.navList{

    margin-top: .5em;
    display: flex;
    list-style-type: none;
    width: 90%;
    justify-content: space-around;
    align-items: center;
    /* background-color: #F2780C; */
    background-color: #e58c60;
}
.navList li{
    /* color: white; */
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-size: x-large;
    /* background-color: #F2780C; */
        background-color: #e58c60;
}
.mainLogo{
    height: 11em;
    margin-bottom: 1.5em;

}
.logoDiv{
    display: flex;
    justify-content: center;
}

.mainTitle{
    text-align: center;
}
.subtitle{
    text-align: center;
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Selected Plants View CSS below */
.plantPhoto{
    height: 10em;
        /* max-width: 250px; */
        object-fit: fill;
}

.bannerImage{
    height: 10em;
    margin-top: 0px;
    
}

.bottomImg{
    height: 17em;
    margin-bottom: 0px;
}
/* footer{
    display: flex;
    justify-content: center; 
    margin-bottom: 0px;
    background-color: #4A5817;
} */

.banner{
    display: flex;
    justify-content: center;

}

/* ***************** */
/* CHECK BOX */

.checkList{
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: 63em;
width: 55em;
margin-left: 2em;
justify-content: space-around;
padding-top: 1.5em;
background-color: white;
border-radius: 25px;
filter: drop-shadow(0 0 0.30rem #4A5817 );

}

.checkbox_input{
display: flex;
padding-bottom: 5px;
background-color: white;
align-items: baseline;
}
.textHome{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeText{
    padding-top: 1em;
    background-color: #4f6111;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    text-align: center;
    font-size: 30px;
}
.goodbye{
  display: flex;
justify-content: center;
font-style: italic;
}

.checkBox{
    display: flex;
    align-items: center;
    width: fit-content;

}
.submitButton{
    width: 20em;

}

/* ********************** */
/* Resources Section? */


.resourcesSection{
    display: flex;
}

.resourceTitle{
    display: flex;
}

.resourceContent{
    display: flex;
}

.homeSection{
    display: flex;
    margin-top: 3em;
    padding: 0em 4em 0em 4em;

}
.zipcodeSection{
    display: flex;
    width: 30em;
    flex-direction: column;
    background-color: #4f6111;
    align-items: center;
    border-radius: 25px;
  
}
.zipDiv{
    background-color: #4f6111; 
}
.container {
margin-top: 0px;
}
.seedDiv{
display: flex;
}
.seedStart{
    display: flex;
}
.canning{
    display: flex;
}
.soilDiv{
    display: flex;
}

.stationDisplay{
    text-transform: capitalize;
}
.welcome{
    text-align: center;
}
/* @media screen and (max-width: 600px) {
    .mainSection{
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
    }
} */

label{
    /* border: none;
    background: none; */
    order: 2;
}
input {
    order: 1;
}

/* ****************************** */
/*  allRecipeView BELOW                       */
/* ****************************** */
.allRecipes {
    display: flex;
    flex-wrap: wrap;
}

.allRecDiv {
    display: flex;
    flex: 25%;
    padding: 20px;
    border: #006992 solid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .allRecDiv{
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .allRecipes {
        flex-direction: column;
    }
}

.plantPhoto img {
    object-fit: contain;
}

.plantPhoto:hover {
    transform: scale(1.2);
}




/* ****************************** */
/*  singlePlantRecipeView BELOW           */
/* ****************************** */

.singleRecipes {
    display: flex;
    flex-wrap: wrap;
}

.singleRecipeDiv {
    display: flex;
    flex: 20%;
    padding: 20px;
    border: #006992 solid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .singleRecipeDiv{
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .singleRecipes {
        flex-direction: column;
    }
}

.recipeImage img {
    object-fit: contain;
}

.recipeImage:hover {
    transform: scale(1.2);
}