*{
   box-sizing: border-box;
    margin: 0px;
    background-color: #f0f5df;
}

h1 {
    cursor: default;
}

h2{
    cursor: default;
}

h3 {
    cursor: default;
}

p {
    cursor: default;
}
.closeModal{
    cursor: pointer;
}


.vegImg{
    height: 20em;
}
.mainSection{
   display: flex; 
   flex-direction: column;
   align-items: center;
   object-fit: contain;
}
.mainVegSection{
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 80em;
    flex-wrap: wrap;
 }

/* *********************** */
/* NAV BAR */

.navList{
    display: flex;
    list-style-type: none;
    width: 90%;
    justify-content: space-around;
    align-items: center;
   
    background-color: #ffd20a;
}
.navList li{
    cursor: pointer;
    /* color: white; */
    color: #4A5817;
    display: flex;
    justify-content: center;
    font-size: x-large;

        background-color: #ffd20a;
}
.mainLogo{
    height: 11em;
    margin-bottom: 1.5em;

}
.logoDiv{
    display: flex;
    justify-content: center;
}

.mainTitle{
    text-align: center;
}
.subtitle{
    text-align: center;
}

.dropdown-content {
    display: none;
}

.show {
    display: block;
}

.hide {
    display: none;
}

/* Selected Plants View CSS below */
.plantPhoto{
    height: 10em;
        max-width: 240px;
        object-fit: fill;
        border-radius: 5px;
}

.bannerImage{
    height: 10em;
    margin-top: 0px;
    
}

.bottomImg{
    height: 10em;
    margin-bottom: 0px;  
}
.footer{
    display: flex;
    justify-content: center; 
    margin-bottom: 0px;
}

.banner{
    display: flex;
    justify-content: center;
    object-fit: contain;
}

.footer{
    display: flex;
    justify-content: center;
    object-fit: contain;
}
/* ***************** */
/* CHECK BOX */

.checkList{
display: flex;
flex-wrap: wrap;
flex-direction: column;
height: 63em;
width: 58em;
margin-left: 2em;
justify-content: space-around;
padding-top: 1.5em;
background-color: white;
border-radius: 25px;
filter: drop-shadow(0 0 0.30rem #4A5817 );

}

.checkbox_input{
display: flex;
padding-bottom: 5px;
background-color: white;
align-items: baseline;
margin-left: .75em;
}

.checkPlantName {
    transform: scale(1.8);
    cursor: pointer;
}

.plantNameCheck{
    cursor: pointer;
}

.checkPlantName{

accent-color: #e37e32;

margin-right: .25em;
}
.checkPlantName:checked{

background-color: #8AA81E;

}


.textHome{
    display: flex;
    align-items: center;
    justify-content: center;
}
.homeText{
    padding-top: 1em;
    background-color: #4f6111;
    color: #ffffff;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 25px;
    text-align: center;

}
.goodbye{
  display: flex;
justify-content: center;
font-style: italic;
margin-top: 1em;
margin-bottom: 1em;
}

.checkBox{
    display: flex;
    align-items: center;
    width: fit-content;

}
.submitButton{
    width: 20em;
    cursor: pointer;
    border: none;
    border-radius: 25px;

}
.submitButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

.submitButton:hover {
    transform: scale(1.1);
  }

/* ********************** */
/* Resources Section  */
/* ********************** */

.resourcesSection{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resourceTitle{
    display: flex;
    align-content: center;
    justify-content: space-around;
    padding-bottom: .5em;
    margin-top: 3em;
    border-bottom: #e37e32 solid;
    border-width: 3px;
    margin-bottom: 2em;
}

.resourceTitle h1 {

    background-color: inherit;
    font-size: 32px;

}

.resourceElTitle {
  display: flex;
    justify-content: center;
    background-color: inherit;
    border-radius: 25px;
    margin-top: .5em;
}

.resourceElTitle h2{
    background-color: inherit;
    color:#465902;
}

.resourceContent{

            border-radius: 25px;
            border: #4f6111 solid;
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;

}


.seedStart{
    display: flex;
}
.canning{
    display: flex;
}
.soilDiv{
    display: flex;
}

.resourceSectionDivCHANGEMYNAME {
    display: flex;
    flex-direction: column;

    align-items: center;

}

.resourceImage {
    object-fit: contain;

    margin: 20px;

   
}
.resourceContent:hover{
    transform: scale(1.1);
                cursor: pointer;

}

.resourceBlockSection{
    display: flex;

            margin-left: 10px;
        margin-bottom: 10px;

        padding-right: 10px;
       
}
.resourceBlockSection *{
    background-color: #ffffff;  
}

.homeSection{
    display: flex;
    margin-top: 3em;
    padding: 0em 4em 0em 4em;

}
    /* ******************* */

.zipcodeSection{
    display: flex;
    width: 30em;
    flex-direction: column;
    background-color: #4f6111;
    align-items: center;
    border-radius: 25px;
    justify-content: space-around;
    padding-top: 2em;
    padding-bottom: 3em;
  
}
.zipDiv{
    background-color: #4f6111; 
}
.homeBottomTextDiv{
    background-color: #4f6111; 
    color: #ffffff;
    display: flex;
    align-items: center;
}
.homeBtmTxt{
    background-color: #4f6111; 
    color: #ffffff;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
.container {
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
}

.stationDisplay{
    text-transform: capitalize;
}
.welcome{
    text-align: center;
}


label{
    order: 2;

}
input {
    order: 1;
}

/* ****************************** */
/*  allRecipeView BELOW                       */
/* ****************************** */
.allRecipes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20em;
    margin-right: 20em;
}

.allRecDiv {
    display: flex;
    flex: 20%;
    padding: 20px;
    border: #4f6111 solid;
    border-width: 3px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    margin-left: 2em;
    margin-bottom: 3em;
    background-color: #ffffff;
}

.allRecDiv>* {
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    .allRecDiv {
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .allRecipes {
        flex-direction: column;
    }
}

.plantPhoto img {
    object-fit: contain;

}

.allRecDiv:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.plantPhotoSingle img {
    object-fit: contain;
}

.plantPhotoSingle {
    height: 10em;
    object-fit: fill;
    border-radius: 5px;
}
/* ****************************** */
/*  singlePlantRecipeView BELOW           */
/* ****************************** */

.singleRecipes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20em;
    margin-right: 20em;

}

.singleRecipeDiv {
    display: flex;
    flex: 20%;
    padding: 20px;
    border: #4f6111 solid;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;

    background-color: #ffffff;
    margin-left: 2em;
    margin-bottom: 3em;
    text-align: center;
    border-width: 3px;

}

.singleRecipeDiv * {
    background-color: #ffffff;
}

@media screen and (max-width: 992px) {
    .singleRecipeDiv {
        flex: 50%;
    }
}

@media screen and (max-width: 600px) {
    .singleRecipes {
        flex-direction: column;
    }
}

.recipeImage img {
    object-fit: contain;
}

.singleRecipeDiv:hover {
    transform: scale(1.2);
}

.frostDate {
    display: flex;
    justify-content: center;
}

.backBtn {
    height: 2.5em;
    padding-top: .5em;
    padding-left: 3em;
}

.backToHomeBtn {
    height: 2.5em;
    padding-top: .5em;
    padding-left: 2em;
}

.backButton {
    display: flex;
    justify-content: space-between;
}

.backBtn:hover {
    cursor: pointer;
}

.backToHomeBtn:hover {
    cursor: pointer;
}

.singlePlant {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: white;
    margin: 2em 8em 2em 8em;
    border-style: solid;
    border-width: 3px;
    border-color: #4f6111;
    border-radius: 25px;
    padding: 1em 1em 1em 1em;
}

.singlePlant * {
    background-color: white;
}

.careTips {
    width: 20em;
    display: flex;
    flex-direction: column;

    margin-left: 10px;
}

.careTitle {
    margin-bottom: 10px;
}

.topPlantDiv {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;

}

.bottomPlantDiv {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    justify-content: space-evenly;
}

.companionDiv {
    width: 18em;
    display: flex;
    flex-direction: column;


    margin-left: 1em;
}

.compTitle {
    margin-bottom: 10px;
}

.weatherDiv {
    display: flex;
    justify-content: center;
}

.button_edaman-badge_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edamam-badge {
    width: 10em;
}

.footer_documentation_link {
    display: flex;
    justify-content: center;
}

/* ********************** */
/* License Info html page        */
/* ********************** */
.License_info h1 {
    margin-left: 1em;
    font-size: x-large;
}

.License_info th {
    font-size: large;
}

.License_info td {
    font-size: medium;
}
/* *************************** */

/* PERSONAL PHOTOS TABLE */
table.Personal_Photos {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font: normal 12px arial;
    width: 50%;
    margin-left: 1em;
}

table.Personal_Photos td,
table.Personal_Photos th {
    border: 1px solid #cdcdcd;
    padding: 2px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table.Personal_Photos table,
    table.Personal_Photos thead,
    table.Personal_Photos tbody,
    table.Personal_Photos th,
    table.Personal_Photos td,
    table.Personal_Photos tr {
        display: block;
    }

    table.Personal_Photos thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.Personal_Photos tr {
        border-bottom: 1px solid #ccc;
    }

    table.Personal_Photos td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.Personal_Photos td:before {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    table.Personal_Photos td:nth-of-type(1):before {
        content: "Personal Photo";
    }

    table.Personal_Photos td:nth-of-type(2):before {
        content: "Copyright Holder";
    }

    table.Personal_Photos td:nth-of-type(3):before {
        content: "License";
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    table.Personal_Photos body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    table.Personal_Photos body {
        width: 495px;
    }
}

/* *************************** */

/* SITE IMAGES TABLE */

table.Site_Images {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font: normal 12px arial;
    width: 50%;
    margin-left: 1em;
}

table.Site_Images td,
table.Site_Images th {
    border: 1px solid #cdcdcd;
    padding: 2px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table.Site_Images table,
    table.Site_Images thead,
    table.Site_Images tbody,
    table.Site_Images th,
    table.Site_Images td,
    table.Site_Images tr {
        display: block;
    }

    table.Site_Images thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.Site_Images tr {
        border-bottom: 1px solid #ccc;
    }

    table.Site_Images td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.Site_Images td:before {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    table.Site_Images td:nth-of-type(1):before {
        content: "Image File Name";
    }

    table.Site_Images td:nth-of-type(2):before {
        content: "Copyright Holder";
    }

    table.Site_Images td:nth-of-type(3):before {
        content: "License";
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    table.Site_Images body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    table.Site_Imagess body {
        width: 495px;
    }
}

/* *************************** */

/* COMPANY LOGOS TABLE */

table.Company_Logos {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font: normal 12px arial;
    width: 50%;
    margin-left: 1em;
}

table.Company_Logos td,
table.Company_Logos th {
    border: 1px solid #cdcdcd;
    padding: 2px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table.Company_Logos table,
    table.Company_Logos thead,
    table.Company_Logos tbody,
    table.Company_Logos th,
    table.Company_Logos td,
    table.Company_Logos tr {
        display: block;
    }

    table.Company_Logos thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.Company_Logos tr {
        border-bottom: 1px solid #ccc;
    }

    table.Company_Logos td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.Company_Logos td:before {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    table.Company_Logos td:nth-of-type(1):before {
        content: "Logo File Name";
    }

    table.Company_Logos td:nth-of-type(2):before {
        content: "Company Name";
    }

    table.Company_Logos td:nth-of-type(3):before {
        content: "Link";
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    table.Company_Logos body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    table.Company_Logoss body {
        width: 495px;
    }
}

/* *************************** */

/* PLANT PHOTOS TABLE */

table.Plant_Photos {
    border-collapse: collapse;
    border: 1px solid #cdcdcd;
    font: normal 12px arial;
    width: 90%;
    margin-left: 1em;
}

table.Plant_Photos td,
table.Plant_Photos th {
    border: 1px solid #cdcdcd;
    padding: 2px;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table.Plant_Photos table,
    table.Plant_Photos thead,
    table.Plant_Photos tbody,
    table.Plant_Photos th,
    table.Plant_Photos td,
    table.Plant_Photos tr {
        display: block;
    }

    table.Plant_Photos thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table.Plant_Photos tr {
        border-bottom: 1px solid #ccc;
    }

    table.Plant_Photos td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    table.Plant_Photos td:before {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        font-weight: bold;
    }

    table.Plant_Photos td:nth-of-type(1):before {
        content: "Image File Name";
    }

    table.Plant_Photos td:nth-of-type(2):before {
        content: "Image Source Link";
    }

    table.Plant_Photos td:nth-of-type(3):before {
        content: "Name of License";
    }

    table.Plant_Photos td:nth-of-type(4):before {
        content: "License Link";
    }

    table.Plant_Photos td:nth-of-type(5):before {
        content: "User's Profile Link";
    }

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    table.Plant_Photos body {
        padding: 0;
        margin: 0;
        width: 320px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    table.Plant_Photos body {
        width: 495px;
    }
}
/* ********************** */
/* FOOTER License Info           */
/* ********************** */

.image_license_div {
    display: flex;
    list-style-type: none;
    height: 3em;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    background-color: #ffd20a;
}

.image_license_div p {
    background-color: inherit;
}

.image_license_div img {
    width: 5em;
    background-color: inherit;
}

.image_license_div a {
    background-color: inherit;
}



