
.modal, .aboutusmodal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content, .aboutusmodal-content {
    background-color: #f0f5df;
    margin: auto;
    padding: 20px;
    border: 6px solid #4A5817;
    width: 40%;
    border-radius: 10px;
    height: 40%;
}
.content, .aboutuscontent{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
}

.closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


/* Modal box  */
.aboutusmodal-content{
    margin-top: -68px;
    width: 60%;
    height: 95%;
    overflow: scroll;
    overflow-x: hidden;
}
.aboutuscontent{
    display: flex;
    margin-top: 20px;
    justify-content: center;

    
}

.aboutuscontent, .aboutUs, .linkInfo{
    text-align: center;
}

.linkInfo{
    margin-top: -5px;
}

.photos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 15px;
    width: 80%;
}

.profile, .headshots{
    height: 170px;
    width: 170px;
    padding: 5px;
    transition: transform .2s;
    border-radius: 10px;
}

.profile:hover{
    -ms-transform: scale(.5);
    -webkit-transform: scale(1.2);
    transform: scale(1.2); 
}

.person {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    max-width: 95%;
    justify-content: space-between;
    margin-top: 15px;
    object-fit: contain;
    background-color: white;
    border: #4A5817 solid;
    border-width: 3px;
    border-radius: 25px;
    padding: 15px;
}
.person *{
    background-color: white;
}

.personName {
    font-size: xx-large;
 
}

.aboutText {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.individual {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: fit-content;
    width: 20em;
}

.logo {
    height: 3em;
    width: auto;
    margin: 5px;
}

.logos {
    display: flex;
    justify-items: flex-end;
    flex-direction: column;
}




@media screen and (max-width: 600px) {
    .photos{
        flex-wrap: nowrap;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-left: 30px;
    }
    .profile{
        height: 300px;
    }
    .centerInput{
        height: 20px;
        width: 100%;
    }
}
.modalImg{
    height: 5em;
    /* margin-bottom: 1em; */
}