.zipcode{
   font-size: xx-large;
   background-color: white;
}
*{
    /* font-family: 'Anybody', cursive; */
    font-family: 'Poppins', sans-serif;
    color: #465902;
}
.checkbox_input{
    font-size: large;

}
.plantNameCheck{
    padding-left: 5px;
    background-color: white;
}
 nav { 
    /* background-color: #F2780C; */
     background-color: #F7A055;
    display: flex;
    justify-content: center;
    height: 3em;
 
}
