.zipcode{
    
   font-size: xx-large;
   background-color: white;
   width: 10em;
   border-radius: 10px;
   padding-left: .25em;
   margin-bottom: 2em;
   margin-top: 1em;  
}
*{
    font-family: 'Poppins', sans-serif;
    color: #465902;
}
.checkbox_input{
    font-size: large;

}

.plantNameCheck{
    padding-left: 5px;
    background-color: white;
    font-size: 22px;

}

nav {

    background-color: #F7A055;
    display: flex;
    justify-content: center;
    height: 3em;
    margin: 0px;
 
}
