.zipcode{
    
   font-size: xx-large;
   background-color: white;
   width: 10em;
   border-radius: 10px;
   padding-left: .25em;
   margin-bottom: 2em;
   margin-top: 1em;  
}
*{
    font-family: 'Poppins', sans-serif;
    color: #465902;
}
.checkbox_input{
    font-size: large;

}

.plantNameCheck{
    padding-left: 5px;
    background-color: white;
    font-size: 22px;

}

nav {

    background-color: #e58c60;
    display: flex;
    justify-content: center;
    height: 3em;
    margin: 0px;
 
}
.plantPhotoSingle{
   width: 250px;
   height: auto;
}
.plantName{
    max-width: 240px;
}
.plantDetails{
    width: 22em;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}
.clickForRecipeButton{
   width: 10em;
}
.plantRecButton{
    width: 11em;  
    display: flex; 
    align-items: center; 
    justify-content: center;
}
.clickForRecipeButton{
    height: 5em;
}
.plantCalBtn{
    display: flex; 
    align-items: center; 
    justify-content: center;
}